.file-manager-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.file-manager-content h1{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Drop Down Area */
.dropdown-area{
    display: flex;
    width: 100%;
    gap: 24px;
    margin-top: 10px;
    text-align: center;
}

.dropdown-button .dropdown-toggle{
    border-radius: 0px;
    border-color: black;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 12px;
    width: 212px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-button .dropdown-menu {
    min-width: 212px;
    border-radius: 0px;
    margin-top: -2px !important;
}

.dropdown-option {
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.select-file-button{
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 12px;
    min-width: 174px;
    max-width: calc(100vw - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-button{
    border-radius: 8px;
    border: solid;
    border-color: #191616;
    border-width: 1px;
    background-color: #191616;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 15px;
    height: 30px;
    width: 160px;
    justify-content: true;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.upload-button:hover{
    border-color: #646464;
    background-color: #646464;
}

.upload-area{
    display: flex;
    flex-direction: column;
}


.file-name{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.manage-file-container {
    border: solid;
    border-width: 1px;
    border-color: black;
    max-width:calc(100vs - 20px);
    margin-left:20px;
    margin-right:20px;
    padding: 10px 30px 10px 30px;
}

.manage-file-card{
    display: flex;
    border: solid;
    border-width:1px;
    border-color: black;
    width:100%;
    max-height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-right:10px;
}

.manage-file-card-title {
    display:flex; 
    font-size: 17px;
    
}
